.header 
    position: relative
    height: 85vh
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg) /*делаем фоновую картинку и накладываем на ее цвет*/
    background-size: cover // изображение не становится сплющенным. Когда изображение и контейнер имеют разные размеры, изображение обрезается .*/
    background-position: top    

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%) // обрезаем картинку*/
        height: 95vh

                                                            // делаем чтоб преведущий медиа запрос работал в firefox 
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 2000px) // min-resolution  - разрешение экранов; , - or
                background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg)  

    

    @include respond(phone)
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%)
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%) // обрезаем картинку*/

    &__logo-box
        position: absolute
        top: 4rem
        left: 4rem
    &__logo 
        height: 3.5rem
    &__text-box  /*центрируем надпись*/
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -50%) //*позиционируем элемент*/
        text-align: center ///*центрируем inline-block элементы*/