*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Здесь определяется => 1rem
    font-size: 62.5%; // 1rem = 10px;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {    
        font-size: 50%;
    }

    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {    
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color:$color-white;
}