* 
    margin: 0
    padding: 0

$color-promary: #f9ed69 //variable decarations  
$color-secondary: #f08a5d
$color-tertiary: #b83b5e
$color-text-dark: #333 
$color-text-light: #eee

$width-button: 150px
// Create mixin
@mixin clearfix
    &:after
        display: table
        clear: both
        content: ""

@mixin style-link-text($color)
    text-decoration: none
    text-transform: uppercase
    color: $color
//Create a function
@function divide($a, $b)
    @return $a / $b

nav
    margin: divide(60, 2) * 1px // 30px
    background-color: $color-promary
    @include clearfix

.navigation
    list-style: none
    float: left
    li
        display: inline-block
        margin-left: 30px
        &:first-child
            margin: 0
        a:link
            @include style-link-text($color-text-dark)

.buttons
    float: right   

%btn-placeholder
    padding: 10px
    display: inline-block
    text-align: center
    border-radius: 100px
    width: $width-button
    @include style-link-text($color-text-light)

.btn-main
    &:link
        @extend %btn-placeholder
        background-color: $color-secondary
    &:hover 
        background-color: darken($color-secondary, 15%) //функция, чтоб делать цвет теменее

.btn-hot
    &:link
        @extend %btn-placeholder
        background-color: $color-tertiary
    &:hover 
        background-color: lighten($color-tertiary, 10%) //функция, чтоб делать цвет светлее