.bg-video
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: -1
    opacity: .15
    overflow: hidden //определяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить

    &__content
        height: 100%
        width: 100%
        object-fit: cover //определяет, как содержимое заменяемого элемента, такого как <img> или <video>, должно заполнять контейнер относительно его высоты и ширины.
        
