.btn
    text-transform: uppercase
    text-decoration: none
    padding: 1.5rem 4rem 
    display: inline-block //*чтоб кнопка не залазила на элементы сверху нее*/
    border-radius: 10rem
    transition: all .2s
    position: relative
    font-size: $default-font-size

    //Change for the <button> element
    border: none
    cursor: pointer 
    &:link /*:link применяется к ссылкам, которые еще не посещались пользователем, и задает для них стилевое оформление.*/
        text-transform: upperca
    &:visited  /*:visited применяется к ссылкам, уже посещённым пользователем, и задаёт для них стилевое оформление.*/
        text-transform: uppercase
        text-decoration: none
        padding: 1.5rem 4rem 
        display: inline-block //*чтоб кнопка не залазила на элементы сверху нее*/
        border-radius: 10rem
        transition: all .2s
        position: relative
        font-size: $default-font-size

        //Change for the <button> element
        border: none
        cursor: pointer 
    
    &:hover 
        transform: translateY(-3px)
        box-shadow: 0 1rem 2rem rgba($color-black, .2)
        &:after  /*задаем поведение ":after" элмента при наводе мышки на его корень*/
            transform: scaleX(1.4) scaleY(1.6) //*увеличеваем элемент в 2 раза*/
            opacity: 0
    &:active,  /*когда мы нажали на элемент*/
    &:focus
        outline: none   
        transform: translateY(-0.1rem)
        box-shadow: 0 .5rem 1rem rgba($color-black, .2)
    &--white 
        background-color: $color-white
        color: $color-grey-dark
        &:after 
            background-color: $color-white
    &--green 
        background-color: $color-primary
        color: $color-white
        &:after 
            background-color: $color-primary
    &:after 
        content: ""
        display: inline-block
        height: 100%
        width: 100%
        border-radius: 10rem
        position: absolute //*чтоб элемент не был частью его корневого элемента*/
        top: 0
        left: 0
        z-index: -1 //*делаем элемент невидимым*/
        transition: all .4s
    &--animated 
        animation: moveInBottom .5s ease-out .75s
        animation-fill-mode: backwards //*Элемент сохранит стиль первого ключевого кадра на протяжении периода animation-delay.*/

.btn-text
    &:link,
    &:visited
        font-size: $default-font-size
        color: $color-primary
        display: inline-block
        text-decoration: none
        border-bottom: 1px solid $color-primary
        padding: 3px
        transition: all .2s

    &:hover
        background-color: $color-primary
        color: $color-white
        box-shadow: 0 1rem 2rem rgba($color-black, .15)
        transform: translateY(-2px)
    
    &:active
        box-shadow: 0 .5rem 1rem rgba($color-black, .15)
        transform: translate(0)