.popup
    height: 100vh
    width: 100%
    position: fixed
    top: 0
    left: 0
    background-color: rgba($color-black, .8)
    z-index: 9999
    opacity: 0
    visibility: hidden //Элемент становится  полностью прозрачным, поскольку он продолжает участвовать в форматировании страницы.
    transition: all .3s

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) // проверяем подерживается ли св-во в других браузерах
        -webkit-backdrop-filter: blur(10px)
        backdrop-filter: blur(10px)
        background-color: rgba($color-black, .3)

    &__content
        @include absCenter
        width: 75%
        background-color: $color-white
        box-shadow: 0 2rem 4rem rgba($color-black, .2)
        border-radius: 3px
        // делаем, чтоб блоки с картинками и текстом были одной ширины
        display: table // Определяет, что элемент является блочной таблицей подобно использованию тега 
        overflow: hidden //определяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить
        opacity: 0
        transform: translate(-50%, -50%) scale(.25)
        transition: all .5s .2s //вначале темный фон потом уже подгружается блок
        
    &__left
        width: 33.333333%
        display: table-cell //Указывает, что элемент представляет собой ячейку таблицы
    &__right
        width: 66.6666667% 
        display: table-cell  
        vertical-align: middle
        padding: 3rem 5rem
    &__img
        display: block
        width: 100%
    &__text
        font-size: 1.4rem
        margin-bottom: 4rem

        -moz-column-count: 2  
        -moz-column-gap: 4rem 
        -moz-column-rule: 1px solid $color-grey-light-2 
        
        column-count: 2 //create tow columns 
        column-gap: 4rem // растояние между двумя колнками 
        column-rule: 1px solid $color-grey-light-2 // задает border между ними

        -moz-hyphens: auto
        -ms-hyphens: auto
        -webkit-hyphens: auto
        hyphens: auto //сообщает браузеру, как расставлять переносы слов в блоке текста.
    
    //Open states
    &:target /// при переходе по ссылке данного элемента
        opacity: 1
        visibility: visible
    &:target &__content
        opacity: 1
        transform: translate(-50%, -50%) scale(1)
    &__close
        &:link,
        &:visited
            color: $color-grey-dark
            position: absolute
            top: 2.5rem
            right: 2.5rem
            font-size: 3rem
            text-decoration: none
            display: inline-block
            transition: all .2s
            line-height: 1  
        &:hover
            color: $color-primary