@mixin clearfix
    &:after
        content: ''
        clear: both
        display: table
@mixin absCenter
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)


//MEDIA QUERIY MANGER

// 0 - 600px:      Phone 
// 600 - 900 px    Tablet portrait
// 900 - 1200 px   Tablet landscape
// 1800px + :      Big desktop



// $breakpoint arguement choices
// - phone
// - tab-port
// - tab-land
// - big-desktop 

//ORDER: Base + typography > general layout + grid > page layout > components

@mixin respond($breakpoint)
    @if $breakpoint == phone 
        @media only screen and (max-width: 37.5em)  //600px
                @content
    @if $breakpoint == tab-port 
        @media only screen and (max-width: 56.25em)   //900px
                @content
    @if $breakpoint == tab-land 
        @media only screen and (max-width: 75em)  //1200px
                @content
    @if $breakpoint == big-desktop 
        @media only screen and (min-width: 112.5em)  //1800px
                @content


    