*,
*:after,
*:before 
    margin: 0
    padding: 0
    box-sizing: inherit

html
    //This defines what 1rem is 
    font-size: 62.5% //1rem = 10px; 10/16 = 62.5%

    @include respond(tab-land) // width < 1200?
        font-size: 56.25% //1rem = 9px; 9/16 = 56.25%

    @include respond(tab-port) // width < 900?
        font-size: 50% //1rem = 8px; 8/16 = 50%

    @include respond(big-desktop)
        font-size: 75%  //1rem = 12px; 12/16 = 75%

body
    box-sizing: border-box // Свойства width и height вычисляются по контенту, padding и border, но не включая margin.
    padding: 3rem

    @include respond(tab-port)
        padding: 0
// изменяем стиль выделения текста
::selection
    background-color: $color-primary
    color: $color-white