body 
    font-family: "Lato", sans-serif
    font-weight: 400
    /* font-size: 16px */
    line-height: 1.7
    color: $color-grey-dark
    box-sizing: border-box // Свойства width и height вычисляются по контенту, padding и border, но не включая margin.
    
.heading
    &-primary 
        color: $color-white
        text-transform: uppercase
        backface-visibility: hidden //*определяет, видно ли заднюю грань элемента, когда он повернут к пользователю.*/
        margin-bottom: 6rem
    &-primary--main 
        display: block
        font-size: 6rem
        font-weight: 400
        letter-spacing: 3.5rem //*межд буквеное растояние*/
        animation-name: moveInLeft //*подключаем анимацию*/
        animation-duration: 1s //*сколько времени длится анимация*/
        @include respond(phone)
            letter-spacing: 1rem
            font-size: 5rem
        /* animation-timing-function: ease-out как ускоряется анимация */
        /* animation-iteration-count: 3 кол-во повторений анимации  */
        /* animation-delay: 3s задержка перед анимацией */
    &-primary--sub 
        display: block
        font-size: 2rem
        font-weight: 700
        letter-spacing: 1.75rem
        animation: moveInRight 1s ease-out

        @include respond(phone)
            letter-spacing: .5rem

.heading-secondary
    font-size: 3.5rem
    text-transform: uppercase
    font-weight: 700
    // делаем, чтоб текст был градиентом 
    display: inline-block
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark)
    -webkit-background-clip: text //Свойство CSS background-clip определяет как цвет фона или фоновое изображение будут выводиться под границами блока.
    color: transparent // устонавливает прозрачный фон
    transition: all .2s
    letter-spacing: .2rem
    
    @include respond(tab-port)
        font-size: 3rem

    @include respond(phone)
        font-size: 2.5rem
    &:hover 
        transform: skewY(2deg) skewX(15deg) scale(1.1)// поворачивает элемент относительно осей
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2)

.heading-tertiary
    font-size: $default-font-size
    font-weight: 700
    text-transform: uppercase

.paragraph
    font-size: $default-font-size
    &:not(:last-child)
        margin-bottom: 3rem